.slick-slide > div {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.slick-dots li button:before {
  color: #9ca3af;
  opacity: 100%;
}

.slick-dots li.slick-active button:before {
  color: #374151;
  opacity: 100%;
}

.slick-prev {
  left: 3% !important;
  z-index: 1;
}
.slick-prev::before{
  color: #94a3b8 !important;
  font-size: 35px !important;
}

.slick-next {
  right: 3% !important;
  z-index: 1;
}

@media (max-width:640px) {
  .slick-next {
    right: 7% !important;
    z-index: 1;
  }
}

.slick-next::before{
  color: #94a3b8 !important;
  font-size: 35px !important;
}